<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GA Goal Tracker</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="target col-md-8 col-md-offset-2">
          <h1>My GA Goals Tracker</h1> 
          <h4><a href="/api">Read My API Documentation</a></h4>

          <form action="/api/goals" method="POST" class="new-goals-form">
            <h3>Add a New Goals</h3>
            <div class="form-group">
              <label for="goal">What's the goal?</label>
              <input type="text" class="form-control" id="goal" placeholder="E.g. Conduct an informational interview with a backend lead.">
            </div>
            <div class="form-group">
              <label for="whyImportant">Why is it important?</label>
              <input type="textarea" class="form-control" id="whyImportant" placeholder="E.g. Get insider knowledge on the role and company.">
            </div>
            <div class="form-group">
              <label for="completeByDate">What's your deadline?</label>
              <input class="form-control" type="date" id="completeByDate" >
            </div>
            <div class="form-group">
             <label for="reward">What's your reward for getting it done?</label>
             <input class="form-control" type="text" id="reward" placeholder="E.g. Get a manicure.">
           </div>
           <button type="submit" class="btn btn-primary">Add Goal</button>
          </form>           
        </div>
        <div class="goals row">
          
        </div>
      </div>
    </div>
  </body>
</html>
